:root {
    /* Colors */
    --color-dark: #262626;
    --color-grey: #444444;
    --color-blue: #0568C3;
    --color-white: #FFFFFF;
  
    /* Fonts */
    --font-family-prompt: 'Prompt', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
}